html {
  font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

/*
 * Basic application structure
 */

.app {
  position: relative;
  width: 100%;
  height: 100%;

  --navbar-height: 44px;
}

.view {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.navbar {
  background: #fff;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 600;
}

.page {
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-with-navbar {
  padding-top: var(--navbar-height);
}

/*
 * Loading screen
 */

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-page p {
  margin: 50px 0;
}

.loading-icon {
  font-size: 150px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*
 * Weather navigation bar
 */

.weather-navbar-location {
  text-decoration: none;
}

/*
 * Weather component
 */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

/*
 * Current conditions section
 */

.currently {
  display: flex;
  margin: 8px 15px;
  justify-content: space-between;
}

.currently > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.currently-details {
  margin-left: 20px;
}

.currently-temperature {
  font-size: 100px;
}

.currently-icon {
  margin: 0.2em 0;
  font-size: 80px;
}

.currently-highlow,
.currently-summary {
  text-align: center;
  font-size: 14px;
}

/*
 * Forecast sections
 */

.forecast {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.forecast-item {
  margin: 8px;
  text-align: center;
  flex: 1 0 auto;
}

.forecast-item-time {
  font-size: 12px;
}

.forecast-item-temperature {
  display: block;
  margin: 0.2em;
  font-size: 20px;
}

.forecast-item-highlow {
  margin: 1em 0;
}

.forecast-item-icon {
  font-size: 38px;
  margin: 0.25em 0;
}

/*
 * Searchbar
 */

.searchbar {
  width: 100%;
  display: flex;
}

.searchbar [type=search] {
  flex: 1 1 auto;
  min-width: 0;
  width: 0;
  margin-right: 0;
  border-color: rgba(0, 0, 0, 0.8);
  appearance: none;
  -webkit-appearance: none;
}

/*
 * Location search
 */

.location-search-results {
  margin: 20px 8px;
  padding: 0;
  flex: 1 0 auto;
  list-style: none;
}

.location-search-result {
  cursor: pointer;
  margin: 0;
  padding: 2px 0;
  border-bottom: 0.5px solid black;
}

.location-search-result:last-child {
  border-bottom: none;
}

.location-search-result p {
  margin: 6px 0;
}

.location-search-name {
  font-size: 16px;
}

.location-search-error {
  font-size: 14px;
}

/*
 * Form elements
 */

.btn {
  cursor: pointer;
  background: none;
}

.btn,
.input {
  border: 0.5px solid black;
  margin: 8px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 0;
}

.btn-flat {
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

/*
 * Misc
 */

.temperature::after {
  content: '°';
}

:focus {
  outline: none;
}

a,
a:link,
a:visited,
a:hover {
  color: inherit;
}
