html {
  font-family: Lucida Grande, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 12px;
}

.app {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.currently .temperature {
  font-size: 100px;
}

.row {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.cell {
  margin: 1em;
  text-align: center;
  flex: 1 0 auto;
}

.cell:first-child {
  margin-left: 0;
}

.cell:last-child {
  margin-right: 0;
}

.cell .temperature {
  margin: 0.2em;
  font-size: 20px;
}

.temperatures {
  margin: 1em 0;
}

.temperature::after {
  content: '°'
}

.cell .icon {
  font-size: 38px;
  margin: 0.25em 0;
}
