html {
  font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;

  --device-pixel-ratio: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html {
    --device-pixel-ratio: 2;
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  :root {
    --device-pixel-ratio: 3;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  /* Minimum room for loading-error */
  min-height: 300px;

  /* Remove overscroll bounce */
  position: fixed;
  overflow: hidden;
}

/*
 * Hide the app before the weather font is loaded
 */

main {
  display: none;
}

.fonts-loaded main {
  display: block;
}

/*
 * Loading error screen
 */

.loading-error {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 50%;
  text-align: center;
  margin-top: -200px;
}

.loading-error-sad-face {
  font-size: 72px;
}

.loading-error-message {
  font-size: 20px;
  margin: 30px 0 0 0;
}

/*
 * Basic application structure
 */

.app {
  position: relative;
  height: 100%;

  /* Restore scrolling */
  width: 100vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  --navbar-height: 44px;
}

.view {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  z-index: 100;
  background: #fff;
  left: 0;
  top: 0;
  right: 0;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: solid 1px black;
  transform: scaleY(calc(1 / var(--device-pixel-ratio)));
  transform-origin: center bottom;
}

.navbar-title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 600;
}

.page {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  max-width: 768px;
  width: 100%;
}

.page-with-navbar {
  padding-top: var(--navbar-height);
}

/*
 * Loading screen
 */

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-page p {
  margin: 50px 0;
}

.loading-icon {
  font-size: 150px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*
 * Fetch error
 */

.fetch-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.fetch-error-icon {
  font-size: 70px;
}

/*
 * Weather navigation bar
 */

.weather-navbar-location {
  text-decoration: none;
}

/*
 * Weather component
 */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

@media (min-height: 600px) {
  .weather {
    justify-content: space-evenly;
  }
}

/*
 * Current conditions section
 */

.currently {
  display: flex;
  margin: 8px 15px;
  justify-content: space-between;
}

@media (min-width: 375px) {
  .currently {
    justify-content: flex-start;
  }
}

.currently > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.currently-details {
  margin-left: 40px;
}

.currently-temperature {
  font-size: 90px;
}

.currently-icon {
  margin: 0.2em 0;
  font-size: 75px;
}

.currently-highlow,
.currently-summary {
  text-align: center;
  font-size: 14px;
}

@media (min-height: 600px) and (min-width: 380px) {
  .currently-temperature {
    font-size: 110px;
  }

  .currently-icon {
    font-size: 90px;
  }

  .currently-highlow,
  .currently-summary {
    font-size: 16px;
  }
}

/*
 * Forecast sections
 */

.forecast {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.forecast-item {
  margin: 8px 1px;
  min-width: 65px;
  text-align: center;
  flex: 1 0 auto;
  cursor: default;
}

.forecast-item:first-child {
  margin-left: 8px;
}

.forecast-item:last-child {
  margin-right: 8px;
}

.forecast-item-time {
  font-size: 12px;
}

.forecast-item.selected .forecast-item-time {
  background: #000;
  color: #fff;
}

.forecast-item-temperature {
  display: block;
  margin: 0.2em;
  font-size: 20px;
}

.forecast-item-highlow {
  margin: 1em 0;
}

.forecast-item-icon {
  font-size: 38px;
  margin: 0.25em 0;
}

.day {
  min-width: 70px;
}

@media (min-height: 600px) and (min-width: 380px) {
  .forecast-item {
    margin-left: 4px;
    margin-right: 4px;
  }

  .forecast-item-time {
    font-size: 14px;
  }

  .forecast-item-temperature {
    font-size: 22px;
  }

  .forecast-item-icon {
    font-size: 45px;
  }
}

/*
 * Searchbar
 */

.searchbar {
  width: 100%;
  display: flex;
  max-width: 768px;
}

.search-input-wrap {
  flex: 1;
  margin-right: 0;
  display: flex;
  border-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.search-input-wrap input {
  flex: 1 1 auto;
  margin: 0;
  min-width: 0;
  width: 0;
  border: 0;
  appearance: none;
  font: inherit;
  padding: 0 20px;
  -webkit-appearance: none;
}

.search-input-wrap input::-webkit-search-decoration,
.search-input-wrap input::-webkit-search-cancel-button,
.search-input-wrap input::-webkit-search-results-button,
.search-input-wrap input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-input-wrap .search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -8px;
  pointer-events: none;
}

.search-input-wrap .search-input-clear {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 50%;
  margin: -8px 0 0 0;
}

.location-search-btn {
  min-width: 115px;
}

@media (max-width: 400px) {
  .location-search-btn {
    display: none;
  }
}

/*
 * Location search
 */

.location-search-results {
  margin: 20px 8px;
  padding: 0;
  flex: 1 0 auto;
  list-style: none;
}

.location-search-result {
  cursor: pointer;
  margin: 0;
  padding: 2px 0;
  border-bottom: 0.5px solid black;
}

.location-search-result:last-child {
  border-bottom: none;
}

.location-search-result p {
  margin: 6px 0;
}

.location-search-name {
  font-size: 16px;
}

.location-search-error {
  font-size: 14px;
}

/*
 * Form elements
 */

.btn {
  cursor: pointer;
  background: none;
}

.btn,
.input {
  border: 0.5px solid black;
  margin: 8px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 0;
}

.btn-flat {
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.btn-icon {
  width: 18px;
  height: 18px;
}

/*
 * Misc
 */

.temperature::after {
  content: '°';
}

:focus {
  outline: none;
}

.icon {
  vertical-align: text-bottom;
  width: 18px;
  height: 18px;
}

.btn-icon .icon {
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:hover {
  color: inherit;
}
